<a href="https://colab.research.google.com/github/ashishkumar30/Zerodha_Live_Automate_Trading-_using_AI_ML_on_Indian_stock_market-using-basic-python/blob/master/Hisorical_Data_Download_of_stocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Historical Data Download Code for any stock of Stock Market

This code will download historical data of any stocks or multiple stocks in csv

In [0]:
print(" \n ")
print("  \t  \t \t  WELCOME ! DATA_DOWNLOAD PROGRAM - ZERODHA ! ") 
print("\n")
print(" \t  \t \t  Please wait while we are installing library")

import time
import webbrowser
import numpy as np
import pandas as pd
from kiteconnect import KiteTicker 
from kiteconnect import KiteConnect

# login to zerodha 

api_key='******************* @@enter your api key here@@@**************' 
api_secret='**********************@@enter your api key here****************'
print(KiteConnect(api_key,api_secret).login_url())

print(" \n ")

kite = KiteConnect(api_key=api_key)
data = kite.generate_session(((str(input("ENTER full link generated in URL :- ")).split("request_token=")[1]).split("&action"))[0],api_secret)
kite.set_access_token(data["access_token"])
print(" \n ")
print(" \n ")

#  inputs 

while(True):
    print(" \n ")
    while(True):
        zde=str(input("Enter Symbols manually or full_list ? 'YES' for Manually and 'NO' to Pass Full_list :=")).upper()
        if zde:
            if "YES"==zde:
                break
            if "NO" in zde:
                break
    print("\n")
    if "YES" in zde:
        while(True):
            k=str(input("ENTER SYMBOL''S ex:-'sunpharma,sbin':=")).upper()
            if k:
                z=k.split(',')
                break
    if "NO" in zde:
        while(True):
            a=input( "ENTER FULL LIST OF SYMBOL's ex:-'sunpharma,sbin,adani,ongc':=").upper()
            if a:
                z=a.split(',')
                break
    while(True):
        eexchange=str(input("ENTER EXCHANGE ex:-'NSE':=")).upper()
        if eexchange:
            break
    while(True):
        time_frame=str(input("ENTER TIME_FRAME of Data ex:-'5minute \15minute \day etc' :=")).lower()
        if time_frame:
            break
    while(True):
        print(" \n ")
        zd=str(input("DO you want to change Date? 'NO'for Default and'YES'to change date:=")).upper()
        if zd:
            if "YES"==zd:
                break
            if "NO"==zd:
                break
    if "YES" in zd:
        while(True):
            sdate =str(input("Starting Date in formatof '2019-07-23' :=")).lower()
            if sdate:
                break
        while(True):
            todate =str(input("Ending Date in format of '2019-10-23' :=")).lower()
            if todate:
                break
    if "NO" in zd:
        sdate ="2019-07-23"
        todate="2019-10-23"
    print(" \n ")
    while(True):
        st=str(input("Is All above Entered inputs are TRUE ? 'YES' to continute or 'NO' to enter again ? ")).upper()
        if st:
            if "YES"==st:
                break
            else:
                pass
    if "YES"==st:
                break
tokenall=[]
symbl=[]
aa=0
print(" \n ")
print("Processing.....")

while(True):
    ttoken=int(pd.DataFrame(kite.ltp(eexchange+":"+z[aa])).iloc[-2,0])
    tokenall.append(ttoken) # fetching tokens
    symbl.append(z[aa])
    aa=aa+1
    if aa==len(z):
        break
        
print("Processing.....")        
ee=0

# downloading data

while(True):
    dff=kite.historical_data(tokenall[ee],sdate,todate,time_frame,0)
    time.sleep(1)
    dfw=pd.DataFrame(dff)
    s=f"{ symbl[ee]}.csv" # writing to csv
    dfw.to_csv(s)
    ee=ee+1
    if ee==len(z):
        print("\n")
        print("Download Complete")
        break

  	  	 	  WELCOME ! DATA_DOWNLOAD PROGRAM - ZERODHA !


 	  	 	  Please wait while we are installing library


ENTER full link generated in URL :- https://kite.trade/?request_token=dGHSMlipgeR3kOKa3bPm9T4i8uG9pHIA&action=login&status=success






Enter Symbols manually or full_list ? 'YES' for Manually and 'NO' to Pass Full_list :=yes


ENTER SYMBOL''S ex:-'sunpharma,sbin':=SBIN
ENTER EXCHANGE ex:-'NSE':=NSE
ENTER TIME_FRAME of Data ex:-'5minute
minute \day etc' :=5minute


DO you want to change Date? 'NO'for Default and'YES'to change date:=no


Is All above Entered inputs are TRUE ? 'YES' to continute or 'NO' to enter again ? yes


Processing.....
Processing.....


Download Complete

In [0]:
# Downloaded Data

new_file=pd.DataFrame(pd.read_csv("SBIN.csv"))
new_file[["date","open","high","low","close"]]

                           date    open    high     low   close
0     2019-07-23 09:15:00+05:30  351.20  352.85  350.55  350.70
1     2019-07-23 09:20:00+05:30  350.80  350.80  348.95  349.05
2     2019-07-23 09:25:00+05:30  349.00  350.00  348.80  349.20
3     2019-07-23 09:30:00+05:30  349.10  349.20  347.80  348.20
4     2019-07-23 09:35:00+05:30  348.15  348.25  347.50  347.85
5     2019-07-23 09:40:00+05:30  347.80  348.30  347.50  347.50
6     2019-07-23 09:45:00+05:30  347.50  349.00  347.50  348.90
7     2019-07-23 09:50:00+05:30  348.95  350.00  348.85  349.30
8     2019-07-23 09:55:00+05:30  349.30  350.30  349.05  349.85
9     2019-07-23 10:00:00+05:30  349.85  350.15  349.10  349.10
10    2019-07-23 10:05:00+05:30  349.10  349.10  348.30  348.75
11    2019-07-23 10:10:00+05:30  348.75  349.80  348.70  349.80
12    2019-07-23 10:15:00+05:30  349.70  350.00  349.10  349.20
13    2019-07-23 10:20:00+05:30  349.20  349.40  348.70  349.05
14    2019-07-23 10:25:00+05:30  349.00  349.35  348.85  349.00
15    2019-07-23 10:30:00+05:30  349.15  349.20  348.85  349.05
16    2019-07-23 10:35:00+05:30  349.05  349.50  348.90  349.40
17    2019-07-23 10:40:00+05:30  349.40  349.95  349.25  349.85
18    2019-07-23 10:45:00+05:30  349.90  350.80  349.65  350.45
19    2019-07-23 10:50:00+05:30  350.45  350.45  349.75  349.85
20    2019-07-23 10:55:00+05:30  349.80  349.85  349.40  349.70
21    2019-07-23 11:00:00+05:30  349.70  349.80  349.10  349.30
22    2019-07-23 11:05:00+05:30  349.20  349.30  348.60  348.60
23    2019-07-23 11:10:00+05:30  348.60  349.00  348.55  348.80
24    2019-07-23 11:15:00+05:30  348.80  349.30  348.60  349.15
25    2019-07-23 11:20:00+05:30  349.15  349.85  348.80  349.75
26    2019-07-23 11:25:00+05:30  349.75  349.80  349.25  349.30
27    2019-07-23 11:30:00+05:30  349.25  349.30  348.60  348.60
28    2019-07-23 11:35:00+05:30  348.65  349.10  348.05  348.10
29    2019-07-23 11:40:00+05:30  348.10  348.35  347.80  348.10
...                         ...     ...     ...     ...     ...
1995  2019-08-30 13:00:00+05:30  267.50  268.30  267.50  268.10
1996  2019-08-30 13:05:00+05:30  268.15  269.10  267.70  268.70
1997  2019-08-30 13:10:00+05:30  268.70  269.40  268.30  268.50
1998  2019-08-30 13:15:00+05:30  268.50  269.30  268.40  268.50
1999  2019-08-30 13:20:00+05:30  268.50  268.70  267.60  268.05
2000  2019-08-30 13:25:00+05:30  268.10  268.40  267.70  268.30
2001  2019-08-30 13:30:00+05:30  268.20  268.40  267.80  268.15
2002  2019-08-30 13:35:00+05:30  268.10  268.85  268.10  268.35
2003  2019-08-30 13:40:00+05:30  268.50  269.35  268.50  269.15
2004  2019-08-30 13:45:00+05:30  269.25  270.00  269.00  269.90
2005  2019-08-30 13:50:00+05:30  269.80  270.80  269.80  270.35
2006  2019-08-30 13:55:00+05:30  270.30  270.35  268.80  268.90
2007  2019-08-30 14:00:00+05:30  268.90  270.00  268.65  269.90
2008  2019-08-30 14:05:00+05:30  269.95  270.20  269.60  269.75
2009  2019-08-30 14:10:00+05:30  269.80  270.05  269.50  269.50
2010  2019-08-30 14:15:00+05:30  269.50  269.55  268.85  269.45
2011  2019-08-30 14:20:00+05:30  269.40  269.65  268.85  269.25
2012  2019-08-30 14:25:00+05:30  269.30  270.25  269.15  270.10
2013  2019-08-30 14:30:00+05:30  270.15  270.55  270.05  270.10
2014  2019-08-30 14:35:00+05:30  270.20  270.40  269.05  269.40
2015  2019-08-30 14:40:00+05:30  269.40  270.30  269.40  270.10
2016  2019-08-30 14:45:00+05:30  270.10  270.95  270.10  270.90
2017  2019-08-30 14:50:00+05:30  270.90  271.75  270.85  271.55
2018  2019-08-30 14:55:00+05:30  271.60  272.45  271.40  272.35
2019  2019-08-30 15:00:00+05:30  272.45  273.80  272.35  272.85
2020  2019-08-30 15:05:00+05:30  272.95  273.95  272.45  273.90
2021  2019-08-30 15:10:00+05:30  273.85  274.50  273.65  273.90
2022  2019-08-30 15:15:00+05:30  273.95  274.40  273.75  274.35
2023  2019-08-30 15:20:00+05:30  274.35  274.60  273.85  274.15
2024  2019-08-30 15:25:00+05:30  274.20  274.25  273.00  273.50

[2025 rows x 5 columns]

In [0]:
display(dfw) # data from exchange

       close                      date    high     low    open   volume
0     350.70 2019-07-23 09:15:00+05:30  352.85  350.55  351.20   752547
1     349.05 2019-07-23 09:20:00+05:30  350.80  348.95  350.80   743751
2     349.20 2019-07-23 09:25:00+05:30  350.00  348.80  349.00   594206
3     348.20 2019-07-23 09:30:00+05:30  349.20  347.80  349.10   592144
4     347.85 2019-07-23 09:35:00+05:30  348.25  347.50  348.15   503455
5     347.50 2019-07-23 09:40:00+05:30  348.30  347.50  347.80   411564
6     348.90 2019-07-23 09:45:00+05:30  349.00  347.50  347.50   384230
7     349.30 2019-07-23 09:50:00+05:30  350.00  348.85  348.95   387064
8     349.85 2019-07-23 09:55:00+05:30  350.30  349.05  349.30   337632
9     349.10 2019-07-23 10:00:00+05:30  350.15  349.10  349.85   257093
10    348.75 2019-07-23 10:05:00+05:30  349.10  348.30  349.10   396477
11    349.80 2019-07-23 10:10:00+05:30  349.80  348.70  348.75   226859
12    349.20 2019-07-23 10:15:00+05:30  350.00  349.10  349.70   215059
13    349.05 2019-07-23 10:20:00+05:30  349.40  348.70  349.20   207552
14    349.00 2019-07-23 10:25:00+05:30  349.35  348.85  349.00   147200
15    349.05 2019-07-23 10:30:00+05:30  349.20  348.85  349.15   148228
16    349.40 2019-07-23 10:35:00+05:30  349.50  348.90  349.05   100049
17    349.85 2019-07-23 10:40:00+05:30  349.95  349.25  349.40   234573
18    350.45 2019-07-23 10:45:00+05:30  350.80  349.65  349.90   294020
19    349.85 2019-07-23 10:50:00+05:30  350.45  349.75  350.45   130359
20    349.70 2019-07-23 10:55:00+05:30  349.85  349.40  349.80   208711
21    349.30 2019-07-23 11:00:00+05:30  349.80  349.10  349.70   106642
22    348.60 2019-07-23 11:05:00+05:30  349.30  348.60  349.20   273213
23    348.80 2019-07-23 11:10:00+05:30  349.00  348.55  348.60   239866
24    349.15 2019-07-23 11:15:00+05:30  349.30  348.60  348.80   182088
25    349.75 2019-07-23 11:20:00+05:30  349.85  348.80  349.15   206997
26    349.30 2019-07-23 11:25:00+05:30  349.80  349.25  349.75   242315
27    348.60 2019-07-23 11:30:00+05:30  349.30  348.60  349.25   148363
28    348.10 2019-07-23 11:35:00+05:30  349.10  348.05  348.65   215921
29    348.10 2019-07-23 11:40:00+05:30  348.35  347.80  348.10   340481
...      ...                       ...     ...     ...     ...      ...
1995  268.10 2019-08-30 13:00:00+05:30  268.30  267.50  267.50   409983
1996  268.70 2019-08-30 13:05:00+05:30  269.10  267.70  268.15   548218
1997  268.50 2019-08-30 13:10:00+05:30  269.40  268.30  268.70   564742
1998  268.50 2019-08-30 13:15:00+05:30  269.30  268.40  268.50   439667
1999  268.05 2019-08-30 13:20:00+05:30  268.70  267.60  268.50   348325
2000  268.30 2019-08-30 13:25:00+05:30  268.40  267.70  268.10   225214
2001  268.15 2019-08-30 13:30:00+05:30  268.40  267.80  268.20   231371
2002  268.35 2019-08-30 13:35:00+05:30  268.85  268.10  268.10   398516
2003  269.15 2019-08-30 13:40:00+05:30  269.35  268.50  268.50   528277
2004  269.90 2019-08-30 13:45:00+05:30  270.00  269.00  269.25  1166120
2005  270.35 2019-08-30 13:50:00+05:30  270.80  269.80  269.80  1218472
2006  268.90 2019-08-30 13:55:00+05:30  270.35  268.80  270.30   605796
2007  269.90 2019-08-30 14:00:00+05:30  270.00  268.65  268.90   608792
2008  269.75 2019-08-30 14:05:00+05:30  270.20  269.60  269.95   401145
2009  269.50 2019-08-30 14:10:00+05:30  270.05  269.50  269.80   492073
2010  269.45 2019-08-30 14:15:00+05:30  269.55  268.85  269.50   498125
2011  269.25 2019-08-30 14:20:00+05:30  269.65  268.85  269.40   302189
2012  270.10 2019-08-30 14:25:00+05:30  270.25  269.15  269.30   624969
2013  270.10 2019-08-30 14:30:00+05:30  270.55  270.05  270.15   605022
2014  269.40 2019-08-30 14:35:00+05:30  270.40  269.05  270.20   672557
2015  270.10 2019-08-30 14:40:00+05:30  270.30  269.40  269.40   441850
2016  270.90 2019-08-30 14:45:00+05:30  270.95  270.10  270.10   646640
2017  271.55 2019-08-30 14:50:00+05:30  271.75  270.85  270.90   960641
2018  272.35 2019-08-30 14:55:00+05:30  272.45  271.40  271.60   805946
2019  272.85 2019-08-30 15:00:00+05:30  273.80  272.35  272.45  1830246
2020  273.90 2019-08-30 15:05:00+05:30  273.95  272.45  272.95  1481904
2021  273.90 2019-08-30 15:10:00+05:30  274.50  273.65  273.85  1642681
2022  274.35 2019-08-30 15:15:00+05:30  274.40  273.75  273.95  1680898
2023  274.15 2019-08-30 15:20:00+05:30  274.60  273.85  274.35  1607910
2024  273.50 2019-08-30 15:25:00+05:30  274.25  273.00  274.20   591154

[2025 rows x 6 columns]